.gloves-toggle {
  //223,411,42,50;
  left: 42px;
  top: 55px;
  height: 360px;
  width: 175px;
  //display: inline-block;
  position: absolute;
}

.content {
  color: lightyellow;
}

//.selected-area {
//  background: cornflowerblue;
//}
//
//.not-selected-area {
//}
//
//div {
//  position: absolute;
//  height: 360px;
//  width: 170px;
//  top: 52px;
//  left: 45px;
//}
