<mat-toolbar>
  <span class="title">PoE Upgrade Helper</span>
</mat-toolbar>

<mat-tab-group [selectedIndex]="selectedTab" class="tabs">
  <mat-tab label="First User Entry">
    <div class="firstEntryContent">
      <app-first-entry [activeGemsList]="activeGems" [supportGemsList]="supportGems" [keystonesList]="keystones" (changeTab)="firstEntrySubmited($event)"></app-first-entry>
    </div>
  </mat-tab>
  <mat-tab label="Second User Entry">
    <div class="secondEntryContent">
      <app-second-entry></app-second-entry>
    </div>
  </mat-tab>
</mat-tab-group>
